@import 'init.scss';
@import 'font.scss';

body{
	font-family: Helvetica;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #1C1C1C;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	#container{
		display: grid;
		grid-auto-flow: column;

		.item{
			background: white;
			height: 50vh;
			width: 0vw;
			margin-right: -1vw;
		}
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	.center {
		display: none;
		height: 10px;
		width: 10px;
		position: absolute;
		background: red;
		left: 50vw;
		top: 50vh;
		transform: translate(-50%, -50%);
		z-index: 20;
	}
}