@import 'init.scss';
@import 'font.scss';

body{
	font-family: Helvetica;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #ebebeb;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	#container{
		display: grid;
		grid-auto-flow: column;

		.item{
			background: white;
			height: 50vh;
			width: 0vw;
			margin-right: -1vw;
		}
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	.loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: black;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;

		p {
			color: white;
			font-size: 3vw;
		}
		
	}

	.center {
		display: none;
		height: 10px;
		width: 10px;
		position: absolute;
		background: red;
		left: 50vw;
		top: 50vh;
		transform: translate(-50%, -50%);
		z-index: 20;
	}

	.project {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(10, 1fr);
		pointer-events: none;

		.title {
			grid-column: 3/10;
			grid-row: 2 ;
			font-size: 40px;
			color: grey;
			//display: inline-block;
			
			h2{
				display: inline;
				vertical-align: middle;
				
				[data-split=char] {
					transform: translate3d(-100%, 0, 0);
					vertical-align: baseline;

				}
			}
			
			span{
				vertical-align: baseline;
				font-weight: 100;
				font-size: 0.4em;
				
				[data-split=line-wrapper] {
					display: inline-block !important;
					vertical-align: middle;
				}
				
				[data-split=line] {
					transform: translate3d(0, 100%, 0);
					opacity: 0;
					vertical-align: baseline;
					position: relative;
					bottom: -3px;
				}
			}
		}
	}
}